.start-main{
    background-color: #FFFDF8;
    height: 30%;
    width:86%;
    border:2px solid #DFC9DC;
    border-radius: 2rem;
    margin:0 7%;
    box-shadow: 0 10px 20px rgb(146, 144, 144);
    
}
.start-main h2{
    
    margin:1rem 1.5rem;
    color: #692065;
}
.s-sign{
    color:#C28D2E;
    
}
.start-main span{
    color:#654E63;
    margin-right:21%;
    margin-left: 1.2rem;
    font-weight: 550;
    font-size: large;
    
    bottom:0;
}
.s-input{
    color:#654E63;
    background-color: #FCF6E9;
    border:2px solid #DFC9DC;
    border-radius: 0.5rem;
    height: 3rem;
    width:24%;
    font-size:large;
    padding-left:1rem;
    margin-left:1.5rem
}
.s-input:hover{
    scale:50px;
    translate: transform(0 0 0 5px);
   
}
.s-btn{
    margin:1.5rem;
    background: #692065;
    color:white;
    border-radius: 0.5rem;
    height: 3rem;
    width:12%;
    text-align: center;
    border:none
}